.home-page {
  padding: 20px;
  margin: 0 auto;
  text-align: left;
  color: var(--text-color);
  margin: 0 auto;
  padding: 20px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.home-page-content {
  max-width: 800px;
  margin: 0 auto;
}
.home-page h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--link-color);
}

.home-page h2 {
  margin-top: 30px;
  color: var(--link-color);
}

.home-page h3 {
  margin-top: 30px;
  font-size: 1.5em;
  color: var(--text-color);
  text-align: center;
}

.home-page p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.developer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between icons */
  margin-bottom: 20px;
}

.developer-links li {
  margin: 0;
}

.developer-links a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 2em; /* Adjust size as needed */
  transition: color 0.3s;
}

.developer-links a:hover {
  color: var(--link-hover-color);
}
