.reviews-page {
  margin: 0 auto;
  padding: 20px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.reviews-page-content {
  max-width: auto;
  margin: 0 auto;
}

.reviews-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.reviews-page p {
  text-align: center;
  margin-bottom: 40px;
}

.review-list {
  list-style: none;
  padding: 0;
}

.review-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #2d2d2d;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  transition: background-color 0.3s;
}

.review-item:hover {
  background-color: #3a3a3a;
}

.review-item h2 {
  margin: 0;
  text-align: left;
}

.review-item p {
  margin: 5px 0 0;
  text-align: left;
}

.review-detail {
  margin: 0 auto;
  padding: 20px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.review-detail-content {
  max-width: 800px;
  margin: 0 auto;
}

.review-detail h1 {
  text-align: center;
}

.review-detail p {
  text-align: left;
}

.review-item-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100px;
}

.review-item-image {
  width: 20%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 16px;
}

.review-item-info {
  flex: 4;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.review-item-details {
  display: flex;
  gap: 8px;
  color: #888;
  font-size: 0.9em;
}

.review-item-score {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 0px;
  padding: 0px;
  text-align: center;
  height: 100%;
  margin: 0;
}

.review-item-score span {
  font-size: 1.8em;
  font-weight: bold;
}

.review-item-score small {
  font-size: 0.9em;
  opacity: 0.8;
}

.review-detail-meta {
  display: flex;
  justify-content: center;
  gap: 8px;
  color: #888;
  margin-bottom: 20px;
}

.review-detail-score {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
}

.review-detail-score small {
  font-size: 0.5em;
  opacity: 0.8;
}

.review-detail-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 968px) {
  .review-item-content {
    flex-direction: column;
    height: auto;
  }

  .review-item-image,
  .review-item-score {
    width: 100%;
    height: auto;
  }

  .review-item-info {
    white-space: normal;
    padding-right: 0;
  }
}
